/* You can add global styles to this file, and also import other style files */
@import 
  'functions',
  'variables',
  'mixins',
  'print',
  'reboot',
  'type';

body {
    background-color: gainsboro;
    color: darkslategray;
    a {
        color: #3bbdd1;
    }
}

